PORT=5000

MONGO_URI=mongodb+srv://meharshpatel_db_user:Meharsh0105@cluster0.fvmjnjv.mongodb.net/?appName=Cluster0

EMAIL_USER=paisavasool.project@gmail.com

EMAIL_PASSWORD=gusl bfpt dlne sayl

JWT_SECRET=0a85bec8e000f19bb69b37d79f2f631cf404504a754b81fb0c874da6fcf20564f5f2268dcdcdbdb68d950b0663e7af0f1797aba582415c1b4d6b971dd36fef47

RAZOR_PAY_TEST_API_KEY=rzp_test_TO5bdGdOB6SnoC

RAZOR_PAY_TEST_KEY_SECRET=ErWGoPCD4BOME8IVM40bTzGi
